.artist-card:hover {
  box-shadow: none;
  transform: scale(1.03);
}

.artist-card {
  border-radius: 10px;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.card-image-artist {
  width: 300px;
  height: 300px;
  min-width: 250px;
  min-height: 250px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 3%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
