.player-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*====================
       START TIMELINE
 /*====================*/

.progress-bar {
  position: relative;
  height: 25%;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.slider {
  display: flex;
  margin: auto;
  width: 80%;
}
.slider div {
  margin: auto;
  width: 60%;
}

.slider-span {
  margin: auto 0;
  font-size: 0.8em;
  position: relative;
}

/*====================
       END TIMELINE
 /*====================*/

.player-secondary-container {
  width: 100%;
  height: 40%;
  margin: 0 auto auto auto;
  display: flex;
  flex-direction: row;
}

.lateral-mini-button-hearth {
  width: 15%;
  height: 40%;
  display: flex;
  margin: auto;
  transition: 0.5s;
}
.lateral-mini-button-hearth svg {
  margin: 0 auto;
}
#heart:active {
  transform: scale(1.3);
  cursor: pointer;
}

#volume {
  width: 15%;
  height: 40%;
  transition: 0.2s;
  display: flex;
  margin: auto;
}

.volume-container {
  width: 100%;
  margin: auto;
}

#volume svg:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.song-title {
  margin: auto;
  width: 15%;
  text-transform: capitalize;
}

.control-panel {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: row;
}

.svg-container {
  display: flex;
  margin: auto;
  width: 20%;
  cursor: pointer;
  top: auto;
  transition: 0.2s;
  stroke: aliceblue;
  fill: aliceblue;
}

.svg-container:active {
  transform: scale(1.2);
}

#shuffle,
#backward,
#play,
#forward,
#repete {
  height: 100%;
}

.svg-container.active {
  stroke: plum;
  fill: plum;
}

#shuffle svg,
#backward svg,
#play svg,
#forward svg,
#repete svg {
  height: 50%;
  width: 50%;
}

.author-album {
  margin: auto;
  width: 15%;
  text-transform: capitalize;
  user-select: none;
}

/*========================= 
        MEDIA QUERIES
 ===========================*/

@media (max-width: 900px) {
  .player-container {
    position: relative;
  }

  .song-title {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .control-panel {
    width: 80%;
  }

  .author-album {
    display: none;
  }

  .control-panel svg {
    width: 15%;
    margin: auto;
  }

  #volume {
    display: none;
  }
}

@media (min-width: 1100px) {
  .control-panel svg {
    width: 10%;
    margin: auto;
  }
}
