body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2a002f;
  color: aliceblue;
  font-family: 'Neucha', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
